
  <h1>Threads</h1>

<div>
  <% @topics.each do |topic| %>
    <div class="card mb-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-sm-10 col-lg-11">
            <h2><%= link_to topic.title, topic%></h2>
            <p>Created <%= topic.created_at.strftime("%d %B %G") %> by <%= topic.user.username %></p>
          </div>
          <div class="col-sm-2 col-lg-1 text-center">
            <p><i class="bi bi-eye-fill"></i>
            <%= topic.view %></p>
          </div>
        </div>

      </div>
    </div>

  <% end %>
</div>

<% if logged_in? %>
  <%= link_to "New Thread", new_topic_path %>
<% end %>